In [2]:
import tarfile
import spacy
import re
import snorkel
import pandas as pd
import rubrix as rb
import numpy as np
import json
import sklearn
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
from flashtext import KeywordProcessor

ModuleNotFoundError: No module named 'spacy'

In [39]:
data_scraped2 = pd.read_csv('D:\Downloads\Clean_data_Twitter_Emotion_Scraped_v5.csv')

In [2]:
data = pd.read_csv("D:\Downloads\Twitter_Emotion_Dataset_without_label.csv")
data_labelled = pd.read_csv("D:\Downloads\Twitter_Emotion_Dataset_with_label.csv")
data_scraped = pd.read_csv("D:\Downloads\Twitter_Data_Emotion_Scraped.csv")
dictionary = pd.read_csv("D:\Downloads\colloquial-indonesian-lexicon.csv")
data.head(100)

C:\Users\pradi\AppData\Local\Temp\ipykernel_37520\3795501739.py:3: DtypeWarning: Columns (9,22,24) have mixed types. Specify dtype option on import or set low_memory=False.
  data_scraped = pd.read_csv("D:\Downloads\Twitter_Data_Emotion_Scraped.csv")

                                                tweet
0   Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...
1   Sesama cewe lho (kayaknya), harusnya bisa lebi...
2   Kepingin gudeg mbarek Bu hj. Amad Foto dari go...
3   Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...
4   Sharing pengalaman aja, kemarin jam 18.00 bata...
..                                                ...
95  Mudah2an sudah terupload smua sebelum z mudik ...
96  Orang pendukung khilafah memang harus di black...
97  jangan sok akrab ye mention mention gue , mali...
98  Alhamdulillah Prof, setelah berbicara semalam ...
99  Keren!! Kira-kira masih ada nggak yg bilang Pa...

[100 rows x 1 columns]

In [10]:
data_labelled['tweet'].iloc[20]

'Budayakan mencari dan membaca sebelum nanya ya. Udah dijelaskan berkali2 kok. Selama ga diatur/gaada ketentuan khusus, pakai aja'

In [11]:
training_data_saputri.head(50)

,label,tweet,love,happy,sadness,anger,fear
0,anger,"Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...",0.968565,0.014053,0.008348,0.006490,0.002544
1,anger,"Sesama cewe lho (kayaknya), harusnya bisa lebi...",0.611235,0.207921,0.090085,0.054547,0.036212
2,happy,Kepingin gudeg mbarek Bu hj. Amad Foto dari go...,0.673907,0.120755,0.112393,0.051468,0.041477
3,anger,"Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...",0.872383,0.052016,0.045204,0.019979,0.010417
4,happy,"Sharing pengalaman aja, kemarin jam 18.00 bata...",0.918236,0.049345,0.012681,0.010745,0.008993
5,anger,"Dari sekian banyak thread yang aku baca, threa...",0.475593,0.312061,0.181850,0.018317,0.012179
6,happy,Sharing sama temen tuh emg guna bgt. Disaat lu...,0.440551,0.244054,0.182177,0.078657,0.054560
7,sadness,Orang lain kalau pake ponco itu buat jas hujan...,0.672150,0.148811,0.092678,0.071228,0.015133
8,anger,"Contoh mereka yg gemar menyudutkan, teriak pal...",0.858897,0.075341,0.028512,0.020424,0.016826
9,sadness,Pulang udah H-4 lebaran dilema sekali. Seperti...,0.461462,0.231217,0.122930,0.107638,0.076752
10,anger,Betul Min rakyat Indonesia sekarang harapan ny...,0.421219,0.280273,0.202222,0.080475,0.015811
11,anger,Kalaupun fansite ngejual hasil jepretan mereka...,0.344793,0.322116,0.181661,0.079476,0.071954
12,happy,"sangat bersyukur bisa mendoakan kakeknya, Bung...",0.824167,0.087022,0.056032,0.028119,0.004659
13,sadness,Sulit menerima kenyataan memang bahwa ada seba...,0.345635,0.274249,0.174274,0.136113,0.069728
14,anger,samanye udeh maling semua gak si jancok gak si...,0.575221,0.369996,0.023698,0.017082,0.014003
15,anger,Ku juga pengen ngamuk bacain komen2 netizen yg...,0.433143,0.323045,0.228793,0.010513,0.004506
16,love,Setiap kesempatan yg pernah hadir tuk dapat me...,0.611309,0.194637,0.138605,0.035006,0.020443
17,anger,Sedap kali kau ya bobok dikasur ku. Aku tidur ...,0.399549,0.211316,0.207526,0.141130,0.040479
18,happy,H-9. Mau ke bank rame bgt ampe antrian tempat ...,0.409420,0.384678,0.109521,0.078088,0.018294
19,anger,"Benar2 hancur negara ini dikelola amatiran, tp...",0.963118,0.019981,0.008923,0.004187,0.003792
20,anger,Budayakan mencari dan membaca sebelum nanya ya...,0.444329,0.359824,0.097076,0.065277,0.033495
21,sadness,Separuh hati ini iri jika melihat seorang anak...,0.537034,0.310352,0.098936,0.044391,0.009287
22,happy,Ketika aku tersenyum bukan berarti hidupku sem...,0.593127,0.355605,0.030175,0.015835,0.005259
23,sadness,"dari mau tdr, tidur, sampe bgn tdr kok yaa kay...",0.827562,0.123559,0.022512,0.017564,0.008803
24,love,kan kupeluk engkau erat2 hingga tak ada seoran...,0.587928,0.257988,0.084371,0.037011,0.032702
25,anger,Kalo mau ganti presiden itu harus jelas siapa ...,0.944610,0.039594,0.006362,0.006214,0.003220
26,happy,"Sukses n keren banget dgn no.1 kualitas,bhn kr...",0.822646,0.132860,0.032260,0.008871,0.003363
27,anger,"Udah mau sarjana 2 kali, mbokya mulut nya jang...",0.624594,0.143481,0.098001,0.072013,0.061911
28,anger,Gimana orang ga nilai dr jilbab/syari/nggak ny...,0.398171,0.280276,0.128716,0.108182,0.084655
29,fear,Hari ini jadwal presentasi proker di LPPM karn...,0.900938,0.049128,0.028933,0.016586,0.004416
30,anger,Foto saya di instagram masih ada cuma lupa pas...,0.536650,0.163816,0.145591,0.107356,0.046587
31,fear,Drama kmarin sore : seharian puasa trus pas lg...,0.680161,0.200128,0.073986,0.026947,0.018778
32,sadness,Sungguh mencintaimu berat sekali. Berpisah den...,0.636124,0.137054,0.134512,0.058515,0.033794
33,anger,"4. pas uda dikirim kembali, si kurir telp ngel...",0.558021,0.269248,0.109409,0.040582,0.022741
34,happy,"Pada akhirnya kita akan melewati semua ini, se...",0.635503,0.297695,0.043941,0.015561,0.007301
35,love,Kenapa pasangan seringkali diibaratkan sebagai...,0.676091,0.191670,0.105041,0.017680,0.009518
36,fear,"Ya tau kalo rasa sakit hati memamg sulit, tapi...",0.510861,0.466222,0.008531,0.008463,0.005923
37,happy,Ponakan kls 4 SD: lg demen nonton video tutori...,0.426052,0.327495,0.131765,0.063916,0.050772
38,happy,Bberapa tahun kemudian kesejahteraan keluarga ...,0.719570,0.155191,0.107954,0.009250,0.008035
39,sadness,"Bukan tidak mendukung atau mendoakan, cuma men...",0.577487,0.228851,0.101716,0.066678,0.025269
40,happy,JNE/JNT selama saya pake entah kirim paket/bel...,0.910053,0.045401,0.024287,0.012952,0.007307
41,anger,Gemes bgt sama orang yg masih menganggap wajar...,0.694787,0.150803,0.111731,0.022830,0.019849
42,fear,Apa hukumnya bermain musik stad? jelas HAROOOO...,0.599733,0.311133,0.076559,0.007230,0.005345
43,anger,Apa Hebatnya Mardani? Menurut sy oeang ini Cum...,0.733980,0.196473,0.031626,0.020047,0.017873
44,sadness,"Oh iya, ibu nya ngelahirin anak ke 3 yaitu cew...",0.858086,0.085067,0.027018,0.018838,0.010991
45,happy,Z suka twitter soalny perempuan ji semua teman...,0.393002,0.228234,0.149023,0.147103,0.082638
46,anger,Nggak ngerti lagi sama ciwi-ciwi yang nyinyiri...,0.850509,0.051907,0.050621,0.024154,0.022809
47,anger,"hari ini libur, rencananya mau nonton Jurassic...",0.291740,0.289814,0.190273,0.121752,0.106422
48,anger,"Nah ini, yg nunggu anak anteng dengan kesabara...",0.415981,0.333688,0.177661,0.042106,0.030563
49,love,Ku rindu bisik mu di telingaku Seraya kau berk...,0.886026,0.071207,0.026480,0.013284,0.003003

In [4]:
data_scraped = data_scraped.drop(columns=['id', 'conversation_id','created_at','date','time','timezone','user_id','username','name','place','language','mentions','urls','photos','replies_count','retweets_count','likes_count','hashtags','cashtags','link','retweet','quote_url','video','thumbnail','near','geo','source','user_rt_id','user_rt','retweet_id','reply_to','retweet_date','translate','trans_src','trans_dest'])

In [5]:
dictionary = dictionary.drop(columns=['In-dictionary','context','category1','category2','category3'])

In [6]:
data_scraped.count()

tweet    20496
dtype: int64

In [7]:
dictionary.count()

slang     15006
formal    15006
dtype: int64

In [23]:
data_scraped.head(100)

0                                         cnu styli fpj
1               malas nya nak gi stdavid walaupun dekat
2     please refrain tapi buy if youre very sensitiv...
3               mampu gelak jeeeee sorryyyy hahahhahaha
4
                            ...
95
96    i cannot give you the formula for success but ...
97    menteri didik tinggi yb dato seri mohamed khal...
98    the game after lu left i became scourge lu fki...
99                          finally last day of january
Name: tweet, Length: 100, dtype: object

In [9]:
stop_factory = StopWordRemoverFactory()
stopword = stop_factory.create_stop_word_remover()
stop = stopword.remove

data_scraped = data_scraped['tweet']
data_scraped = data_scraped.apply(stop)
print(data_scraped)

0        人生がどんなに辛くても前向きに考えてください。  💛  🔥  ٱےهےربَ ٱےهـربَ...
1              malas nya nak gi st.david walaupun dekat. 😐
2        — please refrain to buy if you’re very sensiti...
3        @hrthhrth Mampu gelak jeeeee sorryyyy hahahhahaha
4                                     @personatheorymy 🦎🦎🦎
                               ...
20491                                 di draftnya nih wkwk
20492    @kim_medap besok2 gue nitip lu kali med.. tang...
20493    Kayanya seru kalo 2024 perang partai 1. Pdip, ...
20494                     @liberouno_ Bremsek emg muntun 🥲
20495               ADA APAANSI KOK JD PADA SERING MUNCUL?
Name: tweet, Length: 20496, dtype: object

In [10]:
data_scraped = data_scraped.str.replace(r'@\w+','')
data_scraped = data_scraped.str.replace(r'https?://\S+','')
data_scraped = data_scraped.str.replace(r'\b0\d{2,3}[-.]?\d{3,4}[-.]?\d{3,4}\b','')
data_scraped = data_scraped.str.replace('[^a-zA-Z\s]+','')
data_scraped = data_scraped.str.lower()

C:\Users\pradi\AppData\Local\Temp\ipykernel_15628\5118527.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data_scraped = data_scraped.str.replace(r'@\w+','')
C:\Users\pradi\AppData\Local\Temp\ipykernel_15628\5118527.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data_scraped = data_scraped.str.replace(r'https?://\S+','')
C:\Users\pradi\AppData\Local\Temp\ipykernel_15628\5118527.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  data_scraped = data_scraped.str.replace(r'\b0\d{2,3}[-.]?\d{3,4}[-.]?\d{3,4}\b','')
C:\Users\pradi\AppData\Local\Temp\ipykernel_15628\5118527.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  data_scraped = data_scraped.str.replace('[^a-zA-Z\s]+','')

In [24]:
dictionary.columns = ['slang','formal']
change_dict = dict(zip(dictionary.slang,dictionary.formal))
keyword_processor = KeywordProcessor(case_sensitive=True)
for k, v in change_dict.items():
    keyword_processor.add_keyword(k,v)

data_scraped = pd.DataFrame(list(map(keyword_processor.replace_keywords, 
                                     data_scraped)))
data_scraped.columns = ['tweet']

In [4]:
print(data_scraped2)

       Unnamed: 0                                              tweet
0               0      Sekarang udah ada union tapiiiiiiiii.........
1               1  2 people followed me and one person unfollowed...
2               2                                        Sore yopp ?
3               3                               Laper yaa mas? Wkwwk
4               4                                      Oooh can wait
...           ...                                                ...
81128       81128  Emang udah paling bener gausah cerita apa? sm ...
81129       81129                                   Merosotin cuy ??
81130       81130          Lahh ternyata ada 1 fans nya yang komen ?
81131       81131  2023-04-10 21:18:49 Employee commercial would ...
81132       81132                 Gatau ko aku taunya Kontol Kejepit

[81133 rows x 2 columns]

In [14]:
data_labelled['label'].count()

4401

In [9]:
data_labelled['label'] = data_labelled['label'].replace(['happy', 'anger', 'sadness', 'fear', 'love'], [0, 1, 2, 3, 4])

In [10]:
data_scraped.head(50)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1620273021507309568,1620273021507309568,2023-01-31 11:09:26 SE Asia Standard Time,2023-01-31,11:09:26,700,600050060,juescha86,حصه تامر ◥•ﻜٕوِبون• ‏ﺧٕٓصٍمٍ•ﻜٕوِدٓ,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1620273019678785537,1620273019678785537,2023-01-31 11:09:25 SE Asia Standard Time,2023-01-31,11:09:25,700,1399762345,yazlijufri,Jufri Jup,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1620273019305492480,1620273014205194242,2023-01-31 11:09:25 SE Asia Standard Time,2023-01-31,11:09:25,700,803928343049486336,naaerino,naaaa | semi IA ✿,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1620273018898624514,1620258168898199554,2023-01-31 11:09:25 SE Asia Standard Time,2023-01-31,11:09:25,700,3093417654,zapyy0,zap,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'hrthhrth', 'name': 'H', 'id'...",NaN,NaN,NaN,NaN
4,1620273018038808583,1620270912854724610,2023-01-31 11:09:25 SE Asia Standard Time,2023-01-31,11:09:25,700,71463675,junchgaming,Junch is Taipei Game Show,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'personatheorymy', 'name': 'P...",NaN,NaN,NaN,NaN
5,1620273017627766786,1620242295319842819,2023-01-31 11:09:25 SE Asia Standard Time,2023-01-31,11:09:25,700,1166573925033218049,tujuhderajat0_0,Lindemann,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'KomediRetjeh', 'name': 'Kome...",NaN,NaN,NaN,NaN
6,1620273016084250624,1620273016084250624,2023-01-31 11:09:24 SE Asia Standard Time,2023-01-31,11:09:24,700,1534735461826334720,andrawidani,Ni Andrawida,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
7,1620273015232806912,1620273015232806912,2023-01-31 11:09:24 SE Asia Standard Time,2023-01-31,11:09:24,700,22256691,ohbulancom,ohbulan,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
8,1620273015153127424,1620271504285138945,2023-01-31 11:09:24 SE Asia Standard Time,2023-01-31,11:09:24,700,4819746117,dexansu,Dex Alcàntara 🇵🇸,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'Bixby201', 'name': 'Bixby120...",NaN,NaN,NaN,NaN
9,1620273015077617668,1620273015077617668,2023-01-31 11:09:24 SE Asia Standard Time,2023-01-31,11:09:24,700,2574886070,andiniabz,andiniabz,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
10,1620273014918242307,1620273014918242307,2023-01-31 11:09:24 SE Asia Standard Time,2023-01-31,11:09:24,700,1907251195,posmalaysia,Pos Malaysia Berhad,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
11,1620273014205210624,1620047157167538176,2023-01-31 11:09:24 SE Asia Standard Time,2023-01-31,11:09:24,700,1229018772968595456,nadiaayhy,‎n.y,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'khkmhk', 'name': 'hkmh🍣🍟', '...",NaN,NaN,NaN,NaN
12,1620273014205194242,1620273014205194242,2023-01-31 11:09:24 SE Asia Standard Time,2023-01-31,11:09:24,700,803928343049486336,naaerino,naaaa | semi IA ✿,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
13,1620273013064359938,1620273013064359938,2023-01-31 11:09:24 SE Asia Standard Time,2023-01-31,11:09:24,700,1295020647626600449,mgjkinmalaysia,mgjkinmalaysia🇲🇾🇵🇭,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
14,1620273012569407488,1620272521269628928,2023-01-31 11:09:24 SE Asia Standard Time,2023-01-31,11:09:24,700,1485304128893231107,skies_sg,Skies,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'rubbeeduckee', 'name': 'lb',...",NaN,NaN,NaN,NaN
15,1620273011965440000,1620273011965440000,2023-01-31 11:09:23 SE Asia Standard Time,2023-01-31,11:09:23,700,2949715544,hansushii,هاني,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
16,1620273008723259392,1620261119389753344,2023-01-31 11:09:23 SE Asia Standard Time,2023-01-31,11:09:23,700,267678262,mat_din7,DeenuLhaQ 🇲🇾,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'ammerekak', 'name': 'daddy',...",NaN,NaN,NaN,NaN
17,1620273005380395008,1620271798083551233,2023-01-31 11:09:22 SE Asia Standard Time,2023-01-31,11:09:22,700,1358082316321529856,itsibrhm,illumi🥀,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'adwinnnn', 'name': '~ vrtcl ...",NaN,NaN,NaN,NaN
18,1620273004927414272,1620258285436932101,2023-01-31 11:09:22 SE Asia Standard Time,2023-01-31,11:09:22,700,904121498,bangboril_,Wawan Kurniawan KM,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'ditaprillia_', 'name': '𝓓𝓲𝓽𝓪...",NaN,NaN,NaN,NaN
19,1620273003383898112,1620273003383898112,2023-01-31 11:09:21 SE Asia Standard Time,2023-01-31,11:09:21,700,69038358,craigansibin,Giarc Nibisna 🇲🇾🌺,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
20,1620273001525841920,1620273001525841920,2023-01-31 11:09:21 SE Asia Standard Time,2023-01-31,11:09:21,700,1644931327,ebidwoles,E_B_I_D :) :) :),NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
21,1620273000812810241,1620273000812810241,2023-01-31 11:09:21 SE Asia Standard Time,2023-01-31,11:09:21,700,236350830,kakrons,kakron,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
22,1620273000082984960,1620273000082984960,2023-01-31 11:09:21 SE Asia Standard Time,2023-01-31,11:09:21,700,1183648888210608129,midowoolicious,Mido🍓,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
23,1620272998677901318,1620267905991704576,2023-01-31 11:09:20 SE Asia Standard Time,2023-01-31,11:09:20,700,161244279,syakiraakim,S.A,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'azrulizard', 'name': 'Azrul'...",NaN,NaN,NaN,NaN
24,1620272996874326018,1620272996874326018,2023-01-31 11:09:20 SE Asia Standard Time,2023-01-31,11:09:20,700,1296260180221366273,liltlegirlpapa,i'mtoxic,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
25,1620272996148707333,1620272996148707333,2023-01-31 11:09:20 SE Asia Standard Time,2023-01-31,11:09:20,700,1490891077435686912,rizkis393,Salmando.io,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
26,1620272995205025797,1620237022257610752,2023-01-31 11:09:19 SE Asia Standard Time,2023-01-31,11:09:19,700,209623896,azfarza,Azfar Zainal Abidin 🪐🏴,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'anthologyve', 'name': 'Yve',...",NaN,NaN,NaN,NaN
27,1620272991849549826,1620272651783766016,2023-01-31 11:09:19 SE Asia Standard Time,2023-01-31,11:09:19,700,1489828542,just_khan96,Salman Khan,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
28,1620272988347338752,1620238814638936064,2023-01-31 11:09:18 SE Asia Standard Time,2023-01-31,11:09:18,700,133433992,i_am_gunjan,Bearded Biker,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'TheRadFactor', 'name': 'RK',...",NaN,NaN,NaN,NaN
29,1620272986719936513,1620272986719936513,2023-01-31 11:09:17 SE Asia Standard Time,2023-01-31,11:09:17,700,82299136,mychinapress,马来西亚中国报,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
30,1620272985591660545,1620272985591660545,2023-01-31 11:09:17 SE Asia Standard Time,2023-01-31,11:09:17,700,1195394186456887298,officiallnishaa,♥︎,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
31,1620272985092558849,1620230993599950849,2023-01-31 11:09:17 SE Asia Standard Time,2023-01-31,11:09:17,700,1422062175137370112,angel_winnn,🇮🇩Agustina🇮🇩,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'taeboukie', 'name': 'CJ 🌙', ...",NaN,NaN,NaN,NaN
32,1620272984484360193,1620272984484360193,2023-01-31 11:09:17 SE Asia Standard Time,2023-01-31,11:09:17,700,875412271,juang_news,juangnews.com,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
33,1620272983817478144,1620272983817478144,2023-01-31 11:09:17 SE Asia Standard Time,2023-01-31,11:09:17,700,1185890789127155712,siikimprit,ale'x bin abi khaleeb,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
34,1620272981082767360,1620272981082767360,2023-01-31 11:09:16 SE Asia Standard Time,2023-01-31,11:09:16,700,417507929,mawwannwan,Squicchi,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
35,1620272981045055489,1620272981045055489,2023-01-31 11:09:16 SE Asia Standard Time,2023-01-31,11:09:16,700,1056969866089979904,shaifulizzuddin,Din,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
36,1620272979866431491,1620270005643509760,2023-01-31 11:09:16 SE Asia Standard Time,2023-01-31,11:09:16,700,1026304089393483776,iamahdrine,A L E E 💫,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'svlee29s__', 'name': 'savy (...",NaN,NaN,NaN,NaN
37,1620272979795124225,1620047213916467201,2023-01-31 11:09:16 SE Asia Standard Time,2023-01-31,11:09:16,700,1010166185294323713,zua_al_azmi,Daddy Afqar,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'ayiecun', 'name': 'Ayie', 'i...",NaN,NaN,NaN,NaN
38,1620272979262464000,1620253783992471552,2023-01-31 11:09:16 SE Asia Standard Time,2023-01-31,11:09:16,700,1485304128893231107,skies_sg,Skies,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'cloudykh', 'name': 'ً', 'id'...",NaN,NaN,NaN,NaN
39,1620272978301964288,1620272978301964288,2023-01-31 11:09:15 SE Asia Standard Time,2023-01-31,11:09:15,700,41022830,einhzrn,Ben Hzrn,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
40,1620272974254456832,1620272974254456832,2023-01-31 11:09:14 SE Asia Standard Time,2023-01-31,11:09:14,700,1481114733059411969,haexuxxieeejja,i met wayvdreamies twice ♡/ot26,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
41,1620272974090887168,1620272974090887168,2023-01-31 11:09:14 SE Asia Standard Time,2023-01-31,11:09:14,700,1287763261262188545,praveen11849775,油管YouTube刷粉丝买订阅刷播放量加点赞买时长 推特刷粉丝买粉丝刷点赞上热门,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
42,1620272973470126080,1620198093089308672,2023-01-31 11:09:14 SE Asia Standard Time,2023-01-31,11:09:14,700,328061512,menejerkaravan,Menejer Karavan,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'Tuahsakato999', 'name': 'Ver...",NaN,NaN,NaN,NaN
43,1620272973449154561,1620254289737453570,2023-01-31 11:09:14 SE Asia Standard Time,2023-01-31,11:09:14,700,1347448104874741760,danangbiy,Om Theodore,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'baejaneee', 'name': '🥀🥀🥀🥀', ...",NaN,NaN,NaN,NaN
44,1620272973423972353,1620265379863076864,2023-01-31 11:09:14 SE Asia Standard Time,2023-01-31,11:09:14,700,129140574,adawiahism,ad,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
45,1620272972530585601,1620272972530585601,2023-01-31 11:09:14 SE Asia Standard Time,2023-01-31,11:09:14,700,1224698401058476034,myedisi9,Edisi 9 Official,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
46,1620272972086022144,1619994176720109569,2023-01-31 11:09:14 SE Asia Standard Time,2023-01-31,11:09:14,700,238261138,firdaussmazlan,Muhd Firdaus,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'zeleyla', 'name': 'Leyla Z 🏴...",NaN,NaN,NaN,NaN
47,1620272971482030080,1620263928411611136,2023-01-31 11:09:14 SE Asia Standard Time,2023-01-31,11:09:14,700,1081079950570975232,lovenajaemin13,😻NOONA JAEMIN JENO🐶,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
48,1620272970806759425,1620237517277786113,2023-01-31 11:09:14 SE Asia Standard Time,2023-01-31,11:09:14,700,1480936716848361474,pioner0ld_pi,Qudsss,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,"[{'screen_name': 'YENIRIANTO2', 'name': 'YENIR...",NaN,NaN,NaN,NaN
49,1620272969368100864,1620272969368100864,2023-01-31 11:09:13 SE Asia Standard Time,2023-01-31,11:09:13,700,125075205,kewayamin,خيرالأنوار يمين.٩١١٠٠٦,NaN,...,"0.7893,113.9213,500km",NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [17]:
stemmer_factory = StemmerFactory()
stemmer = stemmer_factory.create_stemmer()
data_scraped = data_scraped['tweet'].apply(stemmer.stem)

In [1]:
data_labelled = data_labelled.rename(columns={"tweet": "text"})
data_labelled_rb = rb.read_pandas(data_labelled, task="TextClassification")

NameError: name 'data_labelled' is not defined

In [11]:
data_scraped2 = data.rename(columns={"tweet": "text"})
data_scraped2_rb = rb.read_pandas(data, task="TextClassification")

2023-04-11 03:00:47.699 | WARNING  | rubrix.client.datasets:from_pandas:341 - Following columns are not supported by the TextClassificationRecord model and are ignored: ['tweet']

In [29]:
data_scraped = data_scraped.rename(columns={"tweet": "text"})
data_scraped_rb = rb.read_pandas(data_scraped, task="TextClassification")

In [20]:
training_data = data_scraped_preprocessed.sample(frac=0.19, random_state=25)
# testing_data = snorkel_data.drop(training_data.index)

print(f"Number of training examples: {training_data.shape[0]}")
# print(f"Number of testing examples: {testing_data.shape[0]}")

Number of training examples: 2567

In [38]:
training_data = data_labelled.sample(frac=0.8, random_state=42)
testing_data = data_labelled.drop(training_data.index)

print(f"Number of training examples: {training_data.shape[0]}")
print(f"Number of testing examples: {testing_data.shape[0]}")

Number of training examples: 3521
Number of testing examples: 880

In [7]:
testing_data_labelled = data_labelled.sample(frac=0.3, random_state=0)
# testing_data_labelled = data_labelled.drop(training_data.index)

print(f"Number of testing examples: {testing_data_labelled.shape[0]}")
# print(f"Number of testing examples: {testing_data.shape[0]}")

Number of training examples: 1320

In [14]:
data_scraped2 = data_scraped2.drop(columns=['Unnamed: 0'])

In [18]:
data_scraped2

                                                   tweet
0                   Sekarang udah ada union tapiiiiiiiii
1      people followed me and one person unfollowed m...
2                                              Sore yopp
3                                    Laper yaa mas Wkwwk
4                                          Oooh can wait
...                                                  ...
78215  Emang udah paling bener gausah cerita apa sm s...
78216                                      Merosotin cuy
78217              Lahh ternyata ada fans nya yang komen
78218                Employee commercial would rather QQ
78219                 Gatau ko aku taunya Kontol Kejepit

[78220 rows x 1 columns]

In [40]:
import rubrix as rb
# build our training records without labels
records = [
    rb.TextClassificationRecord(
        text=row.tweet,
        metadata={"tweet":row.tweet},
    )
    for i,row in data_scraped2.iterrows()
]
rb.log(records, name="emotion_twitter_v10")

c:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\rubrix\client\models.py:43: UserWarning: Some metadata values exceed the max length. Those values will be truncated by keeping only the last 128 characters.
  warnings.warn(

  0%|          | 0/78220 [00:00<?, ?it/s]

78220 records logged to http://localhost:6900/datasets/rubrix/emotion_twitter_v10

BulkResponse(dataset='emotion_twitter_v10', processed=78220, failed=0)

In [41]:
# build our labelled records to evaluate our heuristic rules and optimize the thresholds
labels = ['happy', 'anger', 'sadness', 'fear', 'love']

records = [
    rb.TextClassificationRecord(
        text=row.tweet,
        annotation=labels[row.label],
        metadata={"Tweet":row.tweet},
    )
    for i,row in testing_data.iterrows()
]

# log the records to Rubrix
rb.log(records, name="emotion_twitter_v10")

  0%|          | 0/880 [00:00<?, ?it/s]

880 records logged to http://localhost:6900/datasets/rubrix/emotion_twitter_v10

BulkResponse(dataset='emotion_twitter_v10', processed=880, failed=0)

In [49]:
from rubrix.labeling.text_classification import WeakLabels

weak_labels = WeakLabels(dataset="emotion_twitter_v10")

Preparing rules:   0%|          | 0/27 [00:00<?, ?it/s]

Applying rules:   0%|          | 0/79100 [00:00<?, ?it/s]

In [50]:
weak_labels.summary()

,label,coverage,annotated_coverage,overlaps,conflicts,correct,incorrect,precision
sedih,{sadness},0.002617,0.012500,0.000544,0.000480,9,2,0.818182
senang,{happy},0.002554,0.000000,0.000177,0.000139,0,0,NaN
seneng,{happy},0.001871,0.006818,0.000303,0.000253,2,4,0.333333
marah,{anger},0.001669,0.012500,0.000303,0.000215,8,3,0.727273
takut,{fear},0.005247,0.075000,0.000430,0.000367,55,11,0.833333
serem,{fear},0.001264,0.022727,0.000126,0.000088,18,2,0.900000
sayang,{love},0.003805,0.097727,0.000721,0.000442,55,31,0.639535
cinta,{love},0.002857,0.071591,0.000493,0.000265,48,15,0.761905
astagfirullah,{anger},0.000632,0.001136,0.000051,0.000025,1,0,1.000000
alhamdulillah,{happy},0.004741,0.019318,0.000253,0.000139,14,3,0.823529
khawatir,{fear},0.000683,0.004545,0.000051,0.000025,3,1,0.750000
kasihan,{sadness},0.000582,0.003409,0.000013,0.000000,1,2,0.333333
kesel,{anger},0.001429,0.004545,0.000164,0.000088,2,2,0.500000
anjing,{anger},0.001669,0.005682,0.000228,0.000177,2,3,0.400000
kontol,{anger},0.000834,0.000000,0.000038,0.000000,0,0,NaN
love,{love},0.003944,0.010227,0.000253,0.000139,9,0,1.000000
happy,{happy},0.004640,0.013636,0.000341,0.000253,7,5,0.583333
sad,{sadness},0.000594,0.000000,0.000025,0.000025,0,0,NaN
meninggal,{sadness},0.000544,0.002273,0.000051,0.000051,1,1,0.500000
bucin,{love},0.000367,0.001136,0.000013,0.000000,0,1,0.000000
bahagia,{happy},0.001820,0.015909,0.000303,0.000215,6,8,0.428571
Innalillahi,{sadness},0.000076,0.000000,0.000000,0.000000,0,0,NaN
astaga,{sadness},0.000759,0.001136,0.000025,0.000025,0,1,0.000000
babi,{anger},0.000961,0.001136,0.000051,0.000013,1,0,1.000000
ngentot,{anger},0.000417,0.001136,0.000013,0.000000,1,0,1.000000
*akit hat*,{sadness},0.000860,0.007955,0.000126,0.000076,4,3,0.571429
*atah hat*,{sadness},0.000190,0.002273,0.000101,0.000076,2,0,1.000000
total,"{love, anger, happy, fear, sadness}",0.044918,0.330682,0.002491,0.001707,249,98,0.717579

In [51]:
from rubrix.labeling.text_classification import Snorkel

label_model = Snorkel(weak_labels)

label_model.fit(lr=0.002, n_epochs=10, progress_bar=True)
print(label_model.score(output_str=True))

100%|██████████| 10/10 [00:00<00:00, 273.26epoch/s]

              precision    recall  f1-score   support

       happy       0.67      0.65      0.66        43
       anger       0.67      0.43      0.52        28
     sadness       0.65      0.28      0.39        39
        fear       0.85      0.89      0.87        80
        love       0.70      0.90      0.79       101

    accuracy                           0.73       291
   macro avg       0.71      0.63      0.65       291
weighted avg       0.72      0.73      0.71       291

In [49]:
weak_labels

In [23]:
data_labelled['label'] = data_labelled['label'].replace(['happy', 'anger', 'sadness', 'fear', 'love'],[0, 1, 2, 3, 4]  )
data_labelled

      label                                              tweet
0         1  Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...
1         1  Sesama cewe lho (kayaknya), harusnya bisa lebi...
2         0  Kepingin gudeg mbarek Bu hj. Amad Foto dari go...
3         1  Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...
4         0  Sharing pengalaman aja, kemarin jam 18.00 bata...
...     ...                                                ...
4396      4  Tahukah kamu, bahwa saat itu papa memejamkan m...
4397      3  Sulitnya menetapkan Calon Wapresnya Jokowi di ...
4398      1  5. masa depannya nggak jelas. lha iya, gimana ...
4399      0  [USERNAME] dulu beneran ada mahasiswa Teknik U...
4400      2  Ya Allah, hanya Engkau yang mengetahui rasa sa...

[4401 rows x 2 columns]

In [11]:
with pd.option_context('display.max_colwidth', None):
    display(pd.DataFrame({"tweet": x_train, "label": y_train}))

NameError: name 'x_train' is not defined

In [24]:
from sklearn.model_selection import train_test_split

X = data_labelled['tweet']
y = data_labelled['label']

X_train_normal, X_test_normal, y_train_normal, y_test_normal = train_test_split(X, y, test_size=0.2, random_state=42)

In [62]:
combined_X_train = pd.concat([snorkel_data_20['tweet'], X_train_normal])

In [63]:
combined_y_train = pd.concat([snorkel_data_20['label'], y_train_normal])

In [ ]:
combined_y_train.value_counts()

:

In [64]:
combined_y_train

0       2
1       0
2       4
3       4
4       0
       ..
3444    0
466     1
3092    2
3772    1
860     2
Name: label, Length: 6820, dtype: int64

In [ ]:
combined_X_train.to_csv('D:\Downloads\Combined_X_train.csv')

In [ ]:
combined_y_train.to_csv('D:\Downloads\Combined_y_train.csv')

In [20]:
data_labelled['tweet'].count()

4401

In [55]:
records = label_model.predict()
label2int = {'happy': 0, 'anger': 1, 'sadness': 2, 'fear': 3, 'love': 4}
x_train = [rec.text for rec in records]
y_train = [label2int[rec.prediction[0][0]] for rec in records]

In [9]:
label2int = {'happy': 0, 'anger': 1, 'sadness': 2, 'fear': 3, 'love': 4}

In [56]:
with pd.option_context('display.max_colwidth', None):
    display(pd.DataFrame({"tweet": x_train, "label": y_train}))

,tweet,label
0,Wihh ikutan happy Congrats sista,0
1,Di marah marahin terus sama bagol padahal sepanjang pertandingan,1
2,Jangan sedih cantik,2
3,Masih syukur UMR Saya dibawah umur Cuman Dan kasihan lagi yang dibawah saya ORANG KAYA ADALAH ORANG SELALU MERASA CUKUP ORANG MISKIN ADALAH ORANG YANG SELALU MERASA KURANG INGAT SAAT NANTI NAFAS STOP DARI BADANMU APA YANG AKAN KAMU PERBUAT DENGAN HARTAMU INGAT MATI,2
4,Happy easter,0
...,...,...
3255,Orang takut mah ngumpett ini takut malah pengen bj Takut aja terus selagi nonton dah wkwkk,3
3256,Patah hati terbesar personil member bukan sebatas memutuskan keluar dari team tp kehilangan member dgn cara menyedihkan dan LBH miris lagi saat dia membutuhkan sosok disamping dia ngerasa sendiri sampai akhir hayatnya ahhh andai waktu bs diputar mungkin cerita akan beda,2
3257,Gacocok jadi influencer baru difollo banyak cowo aja bawaannya malah takut,3
3258,Puasa dibikin kesel emg ada aja da ampun,1
3259,Salwa kenapa akhir ini nangis mulu itu skinkernya mon maap sayang,4

In [52]:
df=pd.DataFrame({"tweet": x_train, "label": y_train})
df.to_csv("D:\Downloads\Snorkel_dataset_with_20_test.csv", encoding='utf-8')

In [14]:
snorkel_data = pd.read_csv("D:\Downloads\Snorkel_dataset_v7.csv")
# snorkel_data['label'] = snorkel_data['label'].replace([0, 1, 2, 3, 4], ['happy', 'anger', 'sadness', 'fear', 'love'] )
snorkel_data.head(1000)

     Unnamed: 0                                              tweet  label
0             0    org org knpa pada jahat sama gw hari ini astaga      2
1             1                                     Happy Birthday      0
2             2  ShaniJKT aamiin semangat sayangku bimbingan ad...      4
3             3  Rykarl bucin sangat smp suruh Fir minta maaf k...      4
4             4                            funsized Happy birthday      0
..          ...                                                ...    ...
995         995  Sekarang liat yang lucu dikit aja udah mulai k...      0
996         996  The boss baby How to train your dragon The emo...      0
997         997  HASIL PENGELUARAN HUAHIN Hari Ini SABTU April ...      1
998         998  kalau boleh soalnya takut kekampus sendiri   a...      3
999         999                                           love you      4

[1000 rows x 3 columns]

In [54]:
snorkel_data_20 = pd.read_csv("D:\Downloads\Snorkel_dataset_with_20_test.csv")
# snorkel_data['label'] = snorkel_data['label'].replace([0, 1, 2, 3, 4], ['happy', 'anger', 'sadness', 'fear', 'love'] )
snorkel_data_20

      Unnamed: 0                                              tweet  label
0              0    org org knpa pada jahat sama gw hari ini astaga      2
1              1                                     Happy Birthday      0
2              2  ShaniJKT aamiin semangat sayangku bimbingan ad...      4
3              3  Rykarl bucin sangat smp suruh Fir minta maaf k...      4
4              4                            funsized Happy birthday      0
...          ...                                                ...    ...
3295        3295                                Happy birthday boss      0
3296        3296  Yeayy Alhamdulillah lazada pecah telor today s...      0
3297        3297                            kaget lebih ke takut si      3
3298        3298                                        Astaga lupa      2
3299        3299  Dengan senang hati kami informasikan Untuk jam...      0

[3300 rows x 3 columns]

In [15]:
snorkel_data.drop(columns=['Unnamed: 0'])

                                                  tweet  label
0       org org knpa pada jahat sama gw hari ini astaga      2
1                                        Happy Birthday      0
2     ShaniJKT aamiin semangat sayangku bimbingan ad...      4
3     Rykarl bucin sangat smp suruh Fir minta maaf k...      4
4                               funsized Happy birthday      0
...                                                 ...    ...
3295                                Happy birthday boss      0
3296  Yeayy Alhamdulillah lazada pecah telor today s...      0
3297                            kaget lebih ke takut si      3
3298                                        Astaga lupa      2
3299  Dengan senang hati kami informasikan Untuk jam...      0

[3300 rows x 2 columns]

In [73]:
snorkel_data_20['label'].count()

3300

In [17]:
from sklearn.model_selection import train_test_split


train_data_snorkel, test_data_snorkel = train_test_split(snorkel_data, test_size=0.2, random_state=42)
train_data_snorkel['label'].value_counts()

0    942
4    553
1    437
3    371
2    337
Name: label, dtype: int64

In [71]:
testing_data['label'].value_counts()

1    226
2    213
0    195
4    124
3    122
Name: label, dtype: int64

In [65]:
from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer, TfidfVectorizer
from transformers import AutoTokenizer, TFAutoModel
# from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn import svm

# tokenizer = AutoTokenizer.from_pretrained("MoritzLaurer/mDeBERTa-v3-base-xnli-multilingual-nli-2mil7")
# model = TFAutoModel.from_pretrained("MoritzLaurer/mDeBERTa-v3-base-xnli-multilingual-nli-2mil7", from_pt=True)

classifier = Pipeline([
    ('vect', CountVectorizer()),
    # ('tfidf', TfidfVectorizer(tokenizer=tokenizer.tokenize)),
    ('clf', svm.SVC(kernel='linear'))
])

classifier.fit(X=combined_X_train, y=combined_y_train,)

Pipeline(steps=[('vect', CountVectorizer()), ('clf', SVC(kernel='linear'))])

In [59]:
test_ds = weak_labels.records(has_annotation=True)


X_test = [rec.text for rec in test_ds]
y_test = [label2int[rec.annotation] for rec in test_ds]

In [66]:
accuracy = classifier.score(
    X=X_test_normal,
    y=y_test_normal,
)

print(f"Test accuracy: {accuracy}")

Test accuracy: 0.6140749148694665

In [67]:
from sklearn import metrics

# get predictions for the test set
predicted = classifier.predict(X_test_normal)

print(metrics.classification_report(y_test_normal, predicted, target_names=label2int.keys()))

              precision    recall  f1-score   support

       happy       0.57      0.58      0.58       214
       anger       0.62      0.67      0.65       229
     sadness       0.49      0.48      0.48       200
        fear       0.74      0.62      0.68       119
        love       0.76      0.78      0.77       119

    accuracy                           0.61       881
   macro avg       0.64      0.63      0.63       881
weighted avg       0.62      0.61      0.61       881

In [25]:
from transformers import pipeline
from transformers import AutoTokenizer, AutoModelForSequenceClassification
from sklearn.metrics import accuracy_score, f1_score, recall_score
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder




model_name = "MoritzLaurer/mDeBERTa-v3-base-xnli-multilingual-nli-2mil7"
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForSequenceClassification.from_pretrained(model_name)

classifier = pipeline("zero-shot-classification", model=model, tokenizer=tokenizer)
candidate_labels = ["love", "happy", "sadness", "anger", "fear"]

# def classify_text(text):
#     result = classifier(text, candidate_labels)
#     predicted_label = result["labels"][0]
#     score = result["scores"][0]
#     return predicted_label, score

# def extract_probs(text):
#     result = classifier(text, candidate_labels)
#     probs = result["scores"]
#     return probs

train_data_snorkel, test_data_snorkel = train_test_split(snorkel_data, test_size=0.2, random_state=42)

# training_data_saputri=pd.read_csv("D:\Downloads\Twitter_Emotion_Dataset_with_label.csv")

# snorkel_data[["predicted_label", "score"]] = snorkel_data["tweet"].apply(classify_text).apply(pd.Series)
# snorkel_data.to_csv("classified_snorkel_data_v2.csv", index=False)


# Split the data into training and testing datasets
train_texts = train_data_snorkel["tweet"].tolist()
train_labels = train_data_snorkel["label"].tolist()
test_texts = test_data_snorkel["tweet"].tolist()
test_labels = test_data_snorkel["label"].tolist()

# label_encoder = LabelEncoder()
# label_encoder.fit(train_labels)

# train_labels_encoded = label_encoder.transform(train_labels)
# test_labels_encoded = label_encoder.transform(test_labels)

# train_probs = classifier(train_texts, candidate_labels)["scores"]
# test_probs = classifier(test_text, candidate_labels)["scores"]

train_probs = classifier(train_texts, candidate_labels)["scores"]
test_probs = classifier(test_texts, candidate_labels)["scores"]

svm = SVC(kernel='linear')
svm.fit(train_probs, train_labels)

predicted_labels = svm.predict(test_probs)

# predicted_labels_encoded = svm.predict(test_probs)

# predicted_labels = label_encoder.inverse_transform(predicted_labels_encoded)

accuracy = accuracy_score(test_labels, predicted_labels)
f1 = f1_score(test_labels, predicted_labels, average='weighted')
recall = recall_score(test_labels, predicted_labels, average='weighted')

print(f"Accuracy: {accuracy}")
print(f"F1 Score: {f1}")
print(f"Recall: {recall}")

# svm = SVC(kernel='linear')

# svm.fit(train_features, train_labels)

# predicted_labels = svm.predict(test_features)

# accuracy = accuracy_score(test_labels, predicted_labels)
# f1 = f1_score(test_labels, predicted_labels, average='weighted')
# recall = recall_score(test_labels, predicted_labels, average='weighted')

# print(f"Accuracy: {accuracy}")
# print(f"F1 Score: {f1}")
# print(f"Recall: {recall}")

# probs_list = snorkel_data["tweet"].apply(extract_probs).tolist()
# probs_df = pd.DataFrame(probs_list, columns=candidate_labels)

# train_data_snorkel = pd.concat([train_data_snorkel.reset_index(drop=True), probs_df], axis=1)

# train_data_snorkel.fillna(train_data_snorkel.mean(), inplace=True)

# train_features = train_data_snorkel[candidate_labels].values
# train_labels = train_data_snorkel["label"].tolist()

# test_data_snorkel = pd.concat([test_data_snorkel.reset_index(drop=True), probs_df], axis=1)

# test_data_snorkel.fillna(test_data_snorkel.mean(), inplace=True)


# test_features = test_data_snorkel[candidate_labels].values
# test_labels = test_data_snorkel["label"].tolist()


# features = snorkel_data[candidate_labels].values
# labels = snorkel_data["label"].tolist()


# classifier = pipeline("zero-shot-classification", model=model, tokenizer=tokenizer)
# sequence_to_classify = classifier(snorkel_data['label'])
# candidate_labels = ["love", "happy", "sadness", "anger","fear"]
# output = classifier(candidate_labels, multi_label=False)
# print(output)

C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\transformers\models\deberta_v2\modeling_deberta_v2.py:745: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  attention_scores = torch.bmm(query_layer, key_layer.transpose(-1, -2)) / torch.tensor(
C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\transformers\models\deberta_v2\modeling_deberta_v2.py:829: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  score += c2p_att / torch.tensor(scale, dtype=c2p_att.dtype)
C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\transformers\models\deberta_v2\modeling_deberta_v2.py:852: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  score += p2c_att / torch.tensor(scale, dtype=p2c_att.dtype)

TypeError: list indices must be integers or slices, not str

In [21]:
from transformers import pipeline
from transformers import AutoTokenizer, AutoModelForSequenceClassification
from sklearn.metrics import accuracy_score, f1_score, recall_score
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
import numpy as np

model_name = "MoritzLaurer/mDeBERTa-v3-base-xnli-multilingual-nli-2mil7"
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForSequenceClassification.from_pretrained(model_name)

classifier = pipeline("zero-shot-classification", model=model, tokenizer=tokenizer)
candidate_labels = ["love", "happy", "sadness", "anger","fear"]

train_data_snorkel, test_data_snorkel = train_test_split(snorkel_data, test_size=0.2, random_state=42)
# this thing is cursing me, i'll try the other thing later refer to the training data code above

# Convert the dictionary to a pandas DataFrame
train_data_snorkel = pd.DataFrame.from_dict(snorkel_data)

def classify_text(text):
    result = classifier(text, candidate_labels)
    predicted_label = result["labels"][0]
    score = result["scores"][0]
    return predicted_label, score

# train_texts = train_data_snorkel["tweet"].tolist()
# train_labels = train_data_snorkel["label"].tolist()
# test_texts = test_data_snorkel["tweet"].tolist()
# test_labels = test_data_snorkel["label"].tolist()

# train_probs = classifier(train_texts, candidate_labels)["scores"]
# test_probs = classifier(test_texts, candidate_labels)["scores"]

# Convert string labels to integer labels
label_encoder = LabelEncoder()
label_encoder.fit(train_labels)
train_labels_encoded = label_encoder.transform(train_labels)

svm = SVC(kernel='linear')
svm.fit(train_probs, train_labels_encoded)

# Convert string test labels to integer labels
test_labels_encoded = label_encoder.transform(test_labels)

predicted_labels = svm.predict(test_probs)

accuracy = accuracy_score(test_labels_encoded, predicted_labels)
f1 = f1_score(test_labels_encoded, predicted_labels, average='weighted')
recall = recall_score(test_labels_encoded, predicted_labels, average='weighted')

print(f"Accuracy: {accuracy}")
print(f"F1 Score: {f1}")
print(f"Recall: {recall}")

TypeError: list indices must be integers or slices, not str

In [5]:
import pandas as pd
import numpy as np
from transformers import pipeline
from transformers import AutoTokenizer, AutoModelForSequenceClassification
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, f1_score, recall_score

train_data, test_data = train_test_split(snorkel_data, test_size=0.2, random_state=42)

model_name = "MoritzLaurer/mDeBERTa-v3-base-xnli-multilingual-nli-2mil7"
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForSequenceClassification.from_pretrained(model_name)
classifier = pipeline("zero-shot-classification", model=model, tokenizer=tokenizer)
candidate_labels = ['happy', 'anger', 'sadness', 'fear', 'love']

def extract_probs(text):
    result = classifier(text, candidate_labels)
    probs = result["scores"]
    return probs

train_data[candidate_labels] = train_data["tweet"].apply(extract_probs).apply(pd.Series)

train_features = train_data[candidate_labels].values
train_labels = train_data["label"].values

svm = SVC(kernel='linear')

svm.fit(train_features, train_labels)

test_data[candidate_labels] = test_data["tweet"].apply(extract_probs).apply(pd.Series)

test_features = test_data[candidate_labels].values
test_labels = test_data["label"].values

predicted_labels = svm.predict(test_features)

accuracy = accuracy_score(test_labels, predicted_labels)
f1 = f1_score(test_labels, predicted_labels, average='weighted')
recall = recall_score(test_labels, predicted_labels, average='weighted')
print(classification_report(test_labels, predicted_labels, target_names=candidate_labels))

# print(f"Accuracy: {accuracy}")
# print(f"F1 Score: {f1}")
# print(f"Recall: {recall}")

C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\transformers\models\deberta_v2\modeling_deberta_v2.py:745: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  attention_scores = torch.bmm(query_layer, key_layer.transpose(-1, -2)) / torch.tensor(
C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\transformers\models\deberta_v2\modeling_deberta_v2.py:829: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  score += c2p_att / torch.tensor(scale, dtype=c2p_att.dtype)
C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\transformers\models\deberta_v2\modeling_deberta_v2.py:852: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  score += p2c_att / torch.tensor(scale, dtype=p2c_att.dtype)
C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\transformers\models\deberta_v2\modeling_deberta_v2.py:745: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  attention_scores = torch.bmm(query_layer, key_layer.transpose(-1, -2)) / torch.tensor(
C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\transformers\models\deberta_v2\modeling_deberta_v2.py:829: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  score += c2p_att / torch.tensor(scale, dtype=c2p_att.dtype)
C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\transformers\models\deberta_v2\modeling_deberta_v2.py:852: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  score += p2c_att / torch.tensor(scale, dtype=p2c_att.dtype)

              precision    recall  f1-score   support

       happy       0.00      0.00      0.00       106
       anger       0.00      0.00      0.00       108
     sadness       0.37      1.00      0.53       241
        fear       0.00      0.00      0.00       122
        love       0.00      0.00      0.00        83

    accuracy                           0.37       660
   macro avg       0.07      0.20      0.11       660
weighted avg       0.13      0.37      0.20       660

C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [12]:
from transformers import pipeline
import pandas as pd
from transformers import AutoTokenizer, AutoModelForSequenceClassification
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, f1_score, recall_score

model_name = "MoritzLaurer/mDeBERTa-v3-base-xnli-multilingual-nli-2mil7"
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForSequenceClassification.from_pretrained(model_name)

classifier = pipeline("zero-shot-classification", model=model, tokenizer=tokenizer)
candidate_labels = ["love", "happy", "sadness", "anger", "fear"]

def extract_probs(text):
    result = classifier(text, candidate_labels)
    probs = result["scores"]
    return probs

probs_list = snorkel_data["tweet"].apply(extract_probs).tolist()
probs_df = pd.Dataframe(probs_list, columns=candidate_labels)

snorkel_data = pd.concat([snorkel_data, probs_df], axis=1)

features = snorkel_data[candidate_labels].values
labels = snorkel_data["label"].tolist()

svm = SVC(kernel='linear')

svm.fit(features, labels)

predicted_labels = svm.predict(features)

print(classification_report(labels, predicted_labels, target_names=candidate_labels))

# accuracy = accuracy_score(labels, predicted_labels)
# f1 = f1_score(labels, predicted_labels, average='weighted')
# recall = recall_score(labels, predicted_labels, average='weighted')

# # print the performance metrics
# print(f"Accuracy: {accuracy}")
# print(f"F1 Score: {f1}")
# print(f"Recall: {recall}")

C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\transformers\models\deberta_v2\modeling_deberta_v2.py:745: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  attention_scores = torch.bmm(query_layer, key_layer.transpose(-1, -2)) / torch.tensor(
C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\transformers\models\deberta_v2\modeling_deberta_v2.py:829: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  score += c2p_att / torch.tensor(scale, dtype=c2p_att.dtype)
C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\transformers\models\deberta_v2\modeling_deberta_v2.py:852: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  score += p2c_att / torch.tensor(scale, dtype=p2c_att.dtype)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [6]:
snorkel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529 entries, 0 to 528
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  529 non-null    int64
 1   tweet       529 non-null    object
 2   label       529 non-null    object
dtypes: int64(1), object(2)
memory usage: 12.5+ KB

In [9]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, LSTM, Dense, Flatten
from sklearn.model_selection import train_test_split

# Load the dataset
df = pd.read_csv("D:\Downloads\Twitter_Emotion_Dataset_with_label.csv")

# Define the maximum number of words to be used in the tokenizer
max_words = 5000

# Tokenize the text
tokenizer = Tokenizer(num_words=max_words, split=' ')
tokenizer.fit_on_texts(df['tweet'].values)

# Convert the text to sequences of integers
X = tokenizer.texts_to_sequences(df['tweet'].values)

# Pad the sequences to a fixed length
X = pad_sequences(X)

# Define the labels
y = df['label'].values

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Define the model architecture
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(max_words, 128),
    tf.keras.layers.LSTM(128, dropout=0.2, recurrent_dropout=0.2),
    tf.keras.layers.Dense(1, activation='softmax')
])

# Compile the model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=64, validation_data=(X_test, y_test))

Epoch 1/10

UnimplementedError: Graph execution error:

Detected at node 'categorical_crossentropy/Cast' defined at (most recent call last):
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\runpy.py", line 196, in _run_module_as_main
      return _run_code(code, main_globals, None,
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\runpy.py", line 86, in _run_code
      exec(code, run_globals)
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel_launcher.py", line 17, in <module>
      app.launch_new_instance()
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\traitlets\config\application.py", line 978, in launch_instance
      app.start()
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel\kernelapp.py", line 712, in start
      self.io_loop.start()
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\tornado\platform\asyncio.py", line 215, in start
      self.asyncio_loop.run_forever()
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\asyncio\base_events.py", line 603, in run_forever
      self._run_once()
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\asyncio\base_events.py", line 1899, in _run_once
      handle._run()
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\asyncio\events.py", line 80, in _run
      self._context.run(self._callback, *self._args)
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue
      await self.process_one()
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel\kernelbase.py", line 499, in process_one
      await dispatch(*args)
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell
      await result
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel\kernelbase.py", line 730, in execute_request
      reply_content = await reply_content
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel\ipkernel.py", line 383, in do_execute
      res = shell.run_cell(
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel\zmqshell.py", line 528, in run_cell
      return super().run_cell(*args, **kwargs)
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py", line 2885, in run_cell
      result = self._run_cell(
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py", line 2940, in _run_cell
      return runner(coro)
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
      coro.send(None)
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py", line 3139, in run_cell_async
      has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py", line 3318, in run_ast_nodes
      if await self.run_code(code, result, async_=asy):
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py", line 3378, in run_code
      exec(code_obj, self.user_global_ns, self.user_ns)
    File "C:\Users\pradi\AppData\Local\Temp\ipykernel_15120\2668139211.py", line 43, in <module>
      model.fit(X_train, y_train, epochs=10, batch_size=64, validation_data=(X_test, y_test))
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\utils\traceback_utils.py", line 65, in error_handler
      return fn(*args, **kwargs)
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\engine\training.py", line 1564, in fit
      tmp_logs = self.train_function(iterator)
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\engine\training.py", line 1160, in train_function
      return step_function(self, iterator)
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\engine\training.py", line 1146, in step_function
      outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\engine\training.py", line 1135, in run_step
      outputs = model.train_step(data)
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\engine\training.py", line 994, in train_step
      loss = self.compute_loss(x, y, y_pred, sample_weight)
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\engine\training.py", line 1052, in compute_loss
      return self.compiled_loss(
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\engine\compile_utils.py", line 265, in __call__
      loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\losses.py", line 152, in __call__
      losses = call_fn(y_true, y_pred)
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\losses.py", line 272, in call
      return ag_fn(y_true, y_pred, **self._fn_kwargs)
    File "C:\Users\pradi\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\losses.py", line 1977, in categorical_crossentropy
      y_true = tf.cast(y_true, y_pred.dtype)
Node: 'categorical_crossentropy/Cast'
Cast string to float is not supported
	 [[{{node categorical_crossentropy/Cast}}]] [Op:__inference_train_function_18609]

In [ ]:
import pandas as pd
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Embedding, LSTM, Dense, Dropout

# Load data from CSV file
df = pd.read_csv('data.csv')

# Define text and label columns
text_col = 'text'
label_col = 'emotion'

# Convert text labels to numerical labels
label_map = {label: i for i, label in enumerate(df[label_col].unique())}
df[label_col] = df[label_col].map(label_map)

# Tokenize text data
tokenizer = Tokenizer(num_words=5000)
tokenizer.fit_on_texts(df[text_col])
X = tokenizer.texts_to_sequences(df[text_col])
X = pad_sequences(X, maxlen=50)

# Split data into training and testing sets
train_size = int(0.8 * len(df))
X_train, y_train = X[:train_size], df[label_col][:train_size]
X_test, y_test = X[train_size:], df[label_col][train_size:]

# Define LSTM model
model = Sequential()
model.add(Embedding(5000, 64))
model.add(LSTM(64, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(1, activation='sigmoid'))

# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

# Evaluate model
loss, accuracy = model.evaluate(X_test, y_test)
print('Test loss:', loss)
print('Test accuracy:', accuracy)

In [24]:
accuracy = classifier.score(
X=x_test,
y=y_test,)

print(f"Test accuracy: {accuracy}")

AttributeError: 'ZeroShotClassificationPipeline' object has no attribute 'score'

In [25]:
snorkel_data.count()

Unnamed: 0    529
tweet         529
label         529
dtype: int64

In [38]:
from sklearn.metrics import accuracy_score, recall_score, f1_score
from sklearn.svm import SVC


classified_snorkel_data_v2 = pd.read_csv("C:/Users/pradi/classified_snorkel_data_v2.csv")

# predicted_labels = []
# true_labels = []
# for data in classified_snorkel_data_v2: 
#     text = data["tweet"]
#     true_label = data["label"][0]
#     labels = data["label"]

# train_data = classified_snorkel_data_v2[:80]
# test_data = classified_snorkel_data_v2[80:]

train_data = snorkel_data[:80]
test_data = snorkel_data[80:]

model_name = "MoritzLaurer/mDeBERTa-v3-base-xnli-multilingual-nli-2mil7"
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForSequenceClassification.from_pretrained(model_name)

probs = model.predict_proba(test_data['text'])


svm_train = model.predict_proba(train_data['text'])
svm_test = probs

svm = SVC(kernel='linear')
svm.fit(svm_train, train_data['label'])
predicted_labels = svm.predict(svm_test)

accuracy = accuracy_score(test_data['label'], predicted_labels)
f1 = f1_score(test_data['label'], predicted_labels, average='macro')
recall = recall_score(test_data['label'], predicted_labels, average='macro')



# accuracy = accuracy_score(test_data['label'], test_data['predicted_label'])
# f1 = f1_score(test_data['label'], test_data['predicted_label'], average='macro')
# recall = recall_score(test_data['label'], test_data['predicted_label'], average='macro')

print("Accuracy:", accuracy)
print("Recall:", recall)
print("F1 score:", f1)

AttributeError: 'DebertaV2ForSequenceClassification' object has no attribute 'predict_proba'

In [32]:
classified_snorkel_dataset_v2 ({"tweet": x_train, "predicted_label": y_train})

NameError: name 'classified_snorkel_dataset_v2' is not defined

In [14]:
from sklearn import metrics

predicted = classifier.predict(x_test)
print(metrics.classification_report(y_test, predicted, target_names=label2int.keys()))

NameError: name 'x_test' is not defined

In [8]:
import os
import tensorflow as tf
from transformers import AutoTokenizer, TFAutoModel
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import numpy as np

# Set environment variable to use GPU with TensorFlow
os.environ["CUDA_VISIBLE_DEVICES"] = "0"

# Load pre-trained model and tokenizer
model_name = "StevenLimcorn/indonesian-roberta-base-emotion-classifier"
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = TFAutoModel.from_pretrained(model_name)

# Use GPU for TensorFlow
gpus = tf.config.experimental.list_physical_devices("GPU")
if gpus:
    try:
        # Only allocate 1GB of memory for the GPU
        tf.config.experimental.set_virtual_device_configuration(gpus[0], [tf.config.experimental.VirtualDeviceConfiguration(memory_limit=1024)])
        tf.config.experimental.set_visible_devices(gpus[0], "GPU")
    except RuntimeError as e:
        print(e)

# Load your external labeled dataset
data = snorkel_data
# Tokenize your text examples and generate embeddings
X = []
for example in data:
    text = example[0]
    inputs = tokenizer(text, return_tensors="tf")
    outputs = model(inputs)[0]
    embeddings = np.mean(outputs.numpy(), axis=1).squeeze()
    X.append(embeddings)

y = [example[1] for example in data]

# Split your data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train your SVM classifier
clf = SVC(kernel="linear", C=1.0)
clf.fit(X_train, y_train)

# Evaluate your classifier
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Some layers from the model checkpoint at StevenLimcorn/indonesian-roberta-base-emotion-classifier were not used when initializing TFRobertaModel: ['classifier']
- This IS expected if you are initializing TFRobertaModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFRobertaModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some layers of TFRobertaModel were not initialized from the model checkpoint at StevenLimcorn/indonesian-roberta-base-emotion-classifier and are newly initialized: ['roberta/pooler/dense/kernel:0', 'roberta/pooler/dense/bias:0']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

ValueError: The number of classes has to be greater than one; got 1 class

In [31]:
L_train

array([[-1, -1, -1, -1, -1],
       [-1, -1, -1, -1, -1],
       [-1, -1, -1, -1, -1],
       ...,
       [-1, -1, -1, -1, -1],
       [-1, -1, -1, -1, -1],
       [-1, -1, -1, -1, -1]])

In [22]:
import pandas as pd
from keras.preprocessing.text import Tokenizer
from keras_preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Embedding, LSTM, Dense, Dropout

# Load data from CSV file
df = pd.read_csv("D:\Downloads\Snorkel_dataset_v4.csv")

# Define text and label columns
text_col = 'tweet'
label_col = 'label'

# Convert text labels to numerical labels
label_map = {label: i for i, label in enumerate(df[label_col].unique())}
df[label_col] = df[label_col].map(label_map)

# Tokenize text data
tokenizer = Tokenizer(num_words=5000)
tokenizer.fit_on_texts(df[text_col])
X = tokenizer.texts_to_sequences(df[text_col])
X = pad_sequences(X, maxlen=50)

# Split data into training and testing sets
train_size = int(0.8 * len(df))
X_train, y_train = X[:train_size], df[label_col][:train_size]
X_test, y_test = X[train_size:], df[label_col][train_size:]

# Define LSTM model
model = Sequential()
model.add(Embedding(5000, 64))
model.add(LSTM(64, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(1, activation='softmax'))

# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

# Evaluate model
loss, accuracy = model.evaluate(X_test, y_test)
print('Test loss:', loss)
print('Test accuracy:', accuracy)

Epoch 1/10
14/14 [==============================] - 4s 74ms/step - loss: 0.0000e+00 - accuracy: 0.1064 - val_loss: 0.0000e+00 - val_accuracy: 0.0472
Epoch 2/10
14/14 [==============================] - 1s 43ms/step - loss: 0.0000e+00 - accuracy: 0.1064 - val_loss: 0.0000e+00 - val_accuracy: 0.0472
Epoch 3/10
14/14 [==============================] - 1s 43ms/step - loss: 0.0000e+00 - accuracy: 0.1064 - val_loss: 0.0000e+00 - val_accuracy: 0.0472
Epoch 4/10
14/14 [==============================] - 1s 43ms/step - loss: 0.0000e+00 - accuracy: 0.1064 - val_loss: 0.0000e+00 - val_accuracy: 0.0472
Epoch 5/10
14/14 [==============================] - 1s 43ms/step - loss: 0.0000e+00 - accuracy: 0.1064 - val_loss: 0.0000e+00 - val_accuracy: 0.0472
Epoch 6/10
14/14 [==============================] - 1s 44ms/step - loss: 0.0000e+00 - accuracy: 0.1064 - val_loss: 0.0000e+00 - val_accuracy: 0.0472
Epoch 7/10
14/14 [==============================] - 1s 43ms/step - loss: 0.0000e+00 - accuracy: 0.1064 - val_loss: 0.0000e+00 - val_accuracy: 0.0472
Epoch 8/10
14/14 [==============================] - 1s 45ms/step - loss: 0.0000e+00 - accuracy: 0.1064 - val_loss: 0.0000e+00 - val_accuracy: 0.0472
Epoch 9/10
14/14 [==============================] - 1s 47ms/step - loss: 0.0000e+00 - accuracy: 0.1064 - val_loss: 0.0000e+00 - val_accuracy: 0.0472
Epoch 10/10
14/14 [==============================] - 1s 47ms/step - loss: 0.0000e+00 - accuracy: 0.1064 - val_loss: 0.0000e+00 - val_accuracy: 0.0472
4/4 [==============================] - 0s 8ms/step - loss: 0.0000e+00 - accuracy: 0.0472
Test loss: 0.0
Test accuracy: 0.04716981202363968

In [33]:
from snorkel.labeling import LFAnalysis

LFAnalysis(L=L_train, lfs=lfs).lf_summary()

        j Polarity  Coverage  Overlaps  Conflicts
senang  0       []       0.0       0.0        0.0
takut   1       []       0.0       0.0        0.0
cinta   2       []       0.0       0.0        0.0
sedih   3       []       0.0       0.0        0.0
marah   4       []       0.0       0.0        0.0

In [9]:
records = []

for record in data:

    # Making the prediction
    predictions = classifier(
        record["content"],
    )

    # Creating the prediction entity as a list of tuples (label, probability)
    prediction = [
        (translate_labels[prediction["label"]], prediction["score"])
        for prediction in predictions[0]
    ]

    # Appending to the record list
    records.append(
        rb.TextClassificationRecord(
            text=record["content"],
            prediction=prediction,
            prediction_agent="https://https://huggingface.co/StevenLimcorn/indonesian-roberta-base-emotion-classifier",
            metadata={"split": "train"},
        )
    )

TypeError: string indices must be integers